main {
  display: flex;
  /* background-color: rgb(209, 209, 209); */
  width: 100%;
}

.table__header {
  margin-top: 2%;
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.403);
  padding: 0 0.8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.equipamentos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.painelEqpm {
  margin-left: 30%;
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
}

.size1 {
  font-size: 90%;
}

.size2 {
  font-size: 150%;
}

.buscarInput {
  border-radius: 8px;
  background-color: #e1e0e0;
  border: none;
  width: 25vw;
  height: 7vh;
  margin-left: 5%;
  margin-top: 2%;
  color: black;
}

.menu2Bbtn a {
  text-decoration: none;
}

.pesquisar {
  margin-left: 1%;
  width: 5%;

  border: none;
  border-radius: 30%;

  background-color: transparent;
  color: black;
  font-family: var(--font1);
  text-transform: uppercase;
  cursor: pointer;
}

.btnNovoEqpm {
  text-align: center;
  border-radius: 8px;
  background-color: #cf4b83;
  color: white;
  border: none;
  width: 20%;
  height: 3.5vh;
  margin-left: 5%;
  margin-top: 2%;
  font-weight: 600;
  font-size: 80%;
  cursor: pointer;
}

.btnEditar button {
  border-radius: 8px;
  background-color: #dceee8;
  color: rgb(95, 95, 95);
  border: none;
  width: 8%;
  height: 2.8vh;
  margin-left: 5%;
  margin-top: 2%;
  cursor: pointer;
}

.btnExcluir button {
  border-radius: 8px;
  background-color: #dceee8;
  color: rgb(95, 95, 95);
  border: none;
  width: 8%;
  height: 2.8vh;
  margin-left: 5%;
  margin-top: 2%;
  cursor: pointer;
}

.tabelaEqpm {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  border: none;
  font-size: 100%;
  /* min-width: 70%; */
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.tabelaEqpm td {
  width: 64px;
  padding: 1% 0.2%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tabelaEqpm th {
  width: 64px;
  border-radius: 25px 25px 25px 0px;
}

.tabelaEqpm thead tr {
  width: 50vw;
  padding: 1% 0.2%;
  color: black;
  text-align: center;
  font-weight: bold;
}

tr {
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: start;
}

tr.linhaTabela {
  width: 50vw;
}

.tabelaEquip {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

select {
  width: auto;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #000000;
  background: linear-gradient(136deg, #0000001a 0%, #ffffff0b 100%);
  backdrop-filter: blur(15px);
  color: #000000fb;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(../../assets/img/export.png) center / 80% no-repeat;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.export__file .export__file-btn:hover {
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;

  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;

  box-shadow: 0 0.2rem 0.5rem #0004;

  transition: 0.2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
  background-color: #f2f2f2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: 0.2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img {
  width: 2rem;
  height: auto;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .size1 {
    font-size: 85%;
  }

  .size2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .size1 {
    font-size: 75%;
  }

  .size2 {
    font-size: 100%;
  }

  .btnNovoEqpm button {
    font-size: 70%;
  }
}
@media screen and (max-width: 1306px) {
  .btnNovoEqpm button {
    width: auto;
  }
}

@media screen and (max-width: 990px) {
  .size1 {
    font-size: 68%;
  }

  .size2 {
    font-size: 100%;
  }

  .btnNovoEqpm button {
    font-size: 60%;
  }

  .tabelaEqpm {
    font-size: 80%;
  }
  .table__header h1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 890px) {
  .size1 {
    font-size: 58%;
  }

  .size2 {
    font-size: 90%;
  }

  .btnNovoEqpm button {
    font-size: 50%;
  }

  .tabelaEqpm {
    font-size: 75%;
  }
}

@media screen and (max-width: 790px) {
  .tabelaEqpm td {
    width: 47px;
  }

  .tabelaEqpm {
    font-size: 70%;
  }
}

@media screen and (max-width: 790px) {
  .size1 {
    font-size: 49%;
  }

  .size2 {
    font-size: 85%;
  }
  .table__header h1 {
    font-size: 12px;
  }

  select {
    font-size: 8px;
    padding: 4px;
  }

  .table__header .input-group {
    width: 25%;
  }

  .table__header .input-group input {
    width: 100%;
    font-size: 8px;
  }
  .table__header .input-group img {
    width: 0.9rem;
    height: 0.7rem;
  }
}

@media screen and (max-width: 722px) {
  .tabelaEqpm td {
    width: 44px;
  }

  .tabelaEqpm {
    font-size: 68%;
  }
}

@media screen and (max-width: 680px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .tabelaEqpm td {
    width: 40px;
  }

  .tabelaEqpm thead tr {
    font-size: 90%;
  }

  .menu {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
  }

  .menu_lateral {
    padding: 0;
    height: 10vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  .menu_conteudo {
    align-items: center;
    padding: 0;
    width: 100%;
    height: 10vh;
  }

  .menu_conteudo ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .item_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .item_menu a {
    padding-left: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    padding: 0;
  }

  .pagAtual {
    margin-left: 0;
    background-color: transparent;
  }

  .IconAtual {
    color: #cf4b83;
  }

  .btnSair {
    display: none;
  }

  .btn_expandir {
    display: none;
  }

  .size1 {
    font-size: 55%;
  }

  .size2 {
    font-size: 80%;
  }

  .txt_link {
    display: none;
  }

  hr {
    display: none;
  }

  .espaco2 {
    margin-top: 0;
    width: 20%;
  }

  .painelEqpm {
    height: 85%;
    margin-top: -10%;
  }
}

@media screen and (max-width: 670px) {
  .tabelaEqpm td {
    width: 44px;
  }
  .tabelaEqpm {
    font-size: 60%;
  }
}

@media screen and (max-width: 645px) {
  .table__header {
    flex-direction: column;
  }
  select {
    margin-top: 2%;
  }
  .table__header .input-group {
    margin-top: 2%;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .tabelaEqpm td {
    width: 40px;
  }
  .tabelaEqpm {
    font-size: 55%;
  }
}

@media screen and (max-width: 580px) {
  tr.linhaTabela {
    width: 51vw;
  }

  .tabelaEqpm thead tr {
    width: 51vw;
  }
}

@media screen and (max-width: 550px) {
  .tabelaEqpm td {
    width: 35px;
  }
  .tabelaEqpm {
    font-size: 45%;
  }
  tr.linhaTabela {
    width: 52vw;
  }

  .tabelaEqpm thead tr {
    width: 52vw;
  }
}

@media screen and (max-width: 530px) {
  tr.linhaTabela {
    width: 51vw;
  }
  .tabelaEqpm thead tr {
    width: 51vw;
  }
}

@media screen and (max-width: 500px) {
  tr.linhaTabela {
    width: 50vw;
  }
  .tabelaEqpm thead tr {
    width: 50vw;
  }
}

@media screen and (max-width: 475px) {
  tr.linhaTabela {
    width: 49vw;
  }
  .tabelaEqpm thead tr {
    width: 49vw;
  }
}

@media screen and (max-width: 460px) {
  tr.linhaTabela {
    width: 48vw;
  }

  .tabelaEqpm thead tr {
    width: 48vw;
  }
}

@media screen and (max-width: 450px) {
  tr.linhaTabela {
    width: 49vw;
  }
}

@media screen and (max-width: 450px) {
  .painelEqpm {
    margin-top: -15%;
  }

  .tabelaEqpm {
    font-size: 40%;
  }

  .btnNovoEqpm button {
    font-size: 35%;
    width: 25%;
  }
  .table__header .input-group {
    margin-top: 2%;
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .btnNovoEqpm button {
    width: 70px;
    font-size: 30%;
  }
}
@media screen and (max-width: 430px) {
  tr.linhaTabela {
    width: 50vw;
  }
  .tabelaEqpm thead tr {
    width: 49vw;
  }
}

@media screen and (max-width: 410px) {
  tr.linhaTabela {
    width: 52vw;
  }
  .tabelaEqpm thead tr {
    width: 51vw;
  }
}

@media screen and (max-width: 385px) {
  .painelEqpm {
    margin-top: -20%;
  }

  .tabelaEqpm {
    font-size: 30%;
  }

  .tabelaEqpm thead {
    font-size: 35%;
  }

  tr.linhaTabela {
    width: 49vw;
  }
  .tabelaEqpm thead tr {
    width: 48vw;
  }
}

#divequip {
  background-color: white;
}
